.detailRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.detailKey {
  font-weight: bold;
}

.detailValue {
  color: #414141;
}

.countryDetailsTable {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
