* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.theme-light {
  --background-color: radial-gradient(
    circle,
    rgba(197, 198, 244, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --background-color-greeting: radial-gradient(
    circle,
    rgba(245, 221, 239, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --text-color: #333;
  --button-background: #007bff;
  --button-text: #ffffff;
  --button-background-hover: #0056b3;
  --bg-color-country-card: #f7f8fb;
  --bg-color-header-section: #007bff;
}

.theme-dark {
  --background-color: radial-gradient(
    circle,
    rgba(40, 39, 39, 1) 0%,
    rgba(0, 0, 0, 1) 97%
  );
  --background-color-greeting: radial-gradient(
    circle,
    rgba(75, 75, 75, 1) 0%,
    rgba(22, 21, 21, 1) 100%
  );
  --text-color: #e0e0e0;
  --button-background: #393939;
  --button-background-hover: #474747;
  --bg-color-country-card: #474747;
  --bg-color-header-section: #aad2fc;
}

body {
  font-family: "Arial", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

.greeting {
  background: var(--background-color-greeting);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--text-color);
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
}

button:hover {
  background-color: var(--button-background-hover);
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  border-color: var(--button-background);
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

.country-card {
  display: inline-block;
  width: 350px;
  margin: 15px;
  padding: 20px;
  background-color: var(--bg-color-country-card);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.country-card:hover {
  transform: scale(1.05);
}

.country-card img {
  width: 100%;
  border-radius: 10px;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
