.sections h3 {
  font-size: 24px;
  color: var(--bg-color-header-section);
  margin-bottom: 10px;
}

.sections {
  border-radius: 8px;
  background: var(--background-color-greeting);
}

.sections ul {
  list-style-type: none;
}

.sections li {
  margin: 10px 0;
}
